/*** ==================================================
Fonts
================================================== ***/



/*** ==================================================
Basic Settings
================================================== ***/

*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}
*:-moz-placeholder {
    color: #666;
    opacity: 1;
}
*::-moz-placeholder {
    color: #666;
    opacity: 1;
}
*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}
*:focus::-webkit-input-placeholder {
    color: transparent;
}
*:focus:-moz-placeholder {
    color: transparent;
}
*:focus::-moz-placeholder {
    color: transparent;
}
*:focus:-ms-input-placeholder {
    color: transparent;
}
html,
body {
    height: 100%;
}
body {
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.65;
    overflow-x: hidden;
}
ul,
ol {
    list-style: none;
}
p {
    /*margin: 0;*/
}
a {
    text-decoration: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    text-transform: uppercase;
    line-height: 1.4;
    /*margin: 0;*/
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

/*** ==================================================
Section - 
================================================== ***/



/*** ==================================================
Section - 
================================================== ***/



/*** ==================================================
Section - 
================================================== ***/



/*** ==================================================
Section - 
================================================== ***/



/*** ==================================================
Section - 
================================================== ***/



/*** ==================================================
Section - 
================================================== ***/



/*** ==================================================
Section - 
================================================== ***/


